#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	#horizontal-list li {
		display: inline;
	}

#imageSizer{
	height: 100%; 

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#bottomAlign{
	bottom:0;
}